
{  "endpoint": "/api/v1/patient-summary/{id}",
  "method": "GET",
  "extra_config": {
    "qos/ratelimit/router": { "max_rate": 200, "capacity": 200 },
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/users/{id}",
      "host": ["{{ .hosts.user_service }}"],
      "encoding": "json",
      "timeout": "800ms",
      "allow": ["id", "firstName", "lastName", "email", "userType", "active"],
      "mapping": { "id": "patientId" },
      "extra_config": {
        {{ template "rate_limit_proxy.tmpl" . }},
        {{ template "circuit_breaker.tmpl" . }}
      }
    },
    {
      "url_pattern": "/appointments?patientId={id}",
      "host": ["{{ .hosts.appointment_service }}"],
      "encoding": "json",
      "timeout": "1200ms",
      "allow": ["appointments"],
      "extra_config": {
        {{ template "rate_limit_proxy.tmpl" . }},
        {{ template "circuit_breaker.tmpl" . }}
      }
    },
    {
      "url_pattern": "/emr/patients/{id}/current",
      "host": ["{{ .hosts.emr_service }}"],
      "encoding": "json",
      "timeout": "800ms",
      "group": "emrState",
      "extra_config": {
        {{ template "rate_limit_proxy.tmpl" . }},
        {{ template "circuit_breaker.tmpl" . }}
      }
    }
  ]
}
