{
  "endpoint": "/api/v1/notifications/user/{userId}",
  "method": "GET",
  "extra_config": {
    "qos/ratelimit/router": { "max_rate": 200, "capacity": 200 },
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "url_pattern": "/notifications/user/{userId}",
    "host": ["{{ .hosts.notification_service }}"],
    "encoding": "json",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
}
