
{  "endpoint": "/api/v1/users/patients/register",
  "method": "POST",
  "output_encoding": "no-op",
  "backend": [{
    "url_pattern": "/users/patients/register",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "no-op"
  }]
},
{
  "endpoint": "/api/v1/users/doctors/register",
  "method": "POST",
  "output_encoding": "no-op",
  "backend": [{
    "url_pattern": "/users/doctors/register",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "no-op"
  }]
},
{
  "endpoint": "/api/v1/users/{userId}",
  "method": "GET",
  {{ template "input_headers_auth.tmpl" . }},
  "extra_config": {
    "qos/ratelimit/router": { "max_rate": 300, "capacity": 300 },
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "url_pattern": "/users/{userId}",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "json",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
},
{
  "endpoint": "/api/v1/users/{userId}",
  "method": "DELETE",
  {{ template "input_headers_auth.tmpl" . }},
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "url_pattern": "/users/{userId}",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "json",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
},
{
  "endpoint": "/api/v1/users/doctors/pending-verification",
  "method": "GET",
  "output_encoding": "no-op",
  {{ template "input_headers_auth.tmpl" . }},
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "url_pattern": "/users/doctors/pending-verification",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "no-op",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
},
{
  "endpoint": "/api/v1/users/doctors/{doctorUserId}/verify",
  "method": "PUT",
  {{ template "input_headers_auth.tmpl" . }},
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "url_pattern": "/users/doctors/{doctorUserId}/verify",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "json",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
},
{
  "endpoint": "/api/v1/admin/roles",
  "method": "GET",
  "output_encoding": "no-op",
  {{ template "input_headers_auth.tmpl" . }},
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "url_pattern": "/admin/roles",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "no-op",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
},
{
  "endpoint": "/api/v1/admin/roles/{roleName}/permissions",
  "method": "PUT",
  {{ template "input_headers_auth.tmpl" . }},
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "url_pattern": "/admin/roles/{roleName}/permissions",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "json",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
},
{
  "endpoint": "/api/v1/admin/permissions",
  "method": "GET",
  "output_encoding": "no-op",
  {{ template "input_headers_auth.tmpl" . }},
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "url_pattern": "/admin/permissions",
    "host": ["{{ .hosts.user_service }}"],
    "encoding": "no-op",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
},
{
  "endpoint": "/api/v1/users/{userId}/send-otp",
  "method": "POST",
  "timeout": "30s",
  "output_encoding": "no-op",
  "backend": [{
    "url_pattern": "/users/{userId}/send-otp",
    "host": ["{{ .hosts.notification_service }}"],
    "encoding": "no-op",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
},
{
  "endpoint": "/api/v1/users/{userId}/verify-otp",
  "method": "POST",
  "timeout": "30s",
  "output_encoding": "no-op",
  "backend": [{
    "url_pattern": "/users/{userId}/verify-otp",
    "host": ["{{ .hosts.notification_service }}"],
    "encoding": "no-op",
    "extra_config": {
      {{ template "rate_limit_proxy.tmpl" . }},
      {{ template "circuit_breaker.tmpl" . }}
    }
  }]
}
