"auth/validator": {
  "alg": "RS256",
  "jwk_url": "{{ .hosts.keycloak_internal }}/realms/mediq/protocol/openid-connect/certs",
  "issuer": "{{ .hosts.keycloak_external }}/realms/mediq",
  "cache": true,
  "cache_duration": 900,
  "disable_jwk_security": true,
  "propagate_claims": [
    ["sub",         "X-User-Sub"],
    ["userId",      "X-User-Id"],
    ["email",       "X-User-Email"],
    ["role",        "X-User-Role"],
    ["userType",    "X-User-Type"],
    ["permissions", "X-User-Permissions"],
    ["jti",         "X-Token-Jti"],
    ["exp",         "X-Token-Exp"]
  ]
}
