{
  "endpoint": "/api/v1/patient-summary/{id}",
  "method": "GET",
  "extra_config": {
    "qos/ratelimit/router": {
      "max_rate": 200,
      "capacity": 200
    },
    {{ template "auth_doctor_admin.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/users/{id}",
      "host": ["{{ .hosts.user_service }}"],
      "encoding": "json",
      "allow": ["id", "firstName", "lastName", "userType", "active", "verified"],
      "extra_config": {
        {{ template "rate_limit_proxy.tmpl" . }},
        {{ template "circuit_breaker.tmpl" . }}
      }
    },
    {
      "url_pattern": "/referrals/patient/{id}",
      "host": ["{{ .hosts.referral_service }}"],
      "encoding": "json",
      "is_collection": true,
      "mapping": { "collection": "referrals" },
      "extra_config": {
        {{ template "rate_limit_proxy.tmpl" . }},
        {{ template "circuit_breaker.tmpl" . }}
      }
    }
  ]
}
